# Jetbrains 
*.idea*
*.xml*

#Mac
*.DS_Store

#Pycache
*.pyc

#Weights
*pth
*tar

#Demo output
output*/*

#Experiments
experiments/*

# VSCode
.vscode/

# SMPL and STAR files
model_files/SMPL_*
model_files/smpl/
model_files/smpl_python2/*
model_files/star_*

# Cache files
*__pycache__*